<form method="post" enctype="multipart/form-data">
	<head>
        <title>Judge PAA</title>
    </head>
    <body>
		<div>
			<h1>Judge PAA<h1>
		</div>
		<div>
			<h4> A prova consiste em fazer um algoritmo que resolva o problema de Caxeiro Viajante.</h4>
			<h4> Não esperemos a resposta exata e sim uma resposta aproximada. Ou seja, o caminho encontrado pode ser até duas vezes maior que a melhor resposta. Divirta-se.</h4>
		</div>
		<div>
			<input type="file" id="file" name="file" accept=".py">
			<button>Submit</button>
		</div>
	</body>
</form>